<footer>
    <div class="container">
        <div class="social-icons">
            <a href="mailto:yanurag994@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a>
            <a href="https://github.com/yanurag994" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/yanurag994" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://scholar.google.com/citations?user=IDPIj6oAAAAJ" target="_blank"><i
                    class="fas fa-user-graduate fa-2x"></i></a>
        </div>
    </div>
</footer>